{% extends "header_admin.html" %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><i class="fas fa-home"></i> Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3 vendedores">
          <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-user-tag"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Vendedores</span>
              <span class="info-box-number"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3 construc_priv">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="far fa-building"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Construcciones Privadas</span>
              <span class="info-box-number"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3 construc_pub">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="far fa-building"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Construcciones Públicas</span>
              <span class="info-box-number"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3 usuarios">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Usuarios</span>
              <span class="info-box-number"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-md-8">
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bienvenido de vuelta!</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                  title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body p-0">
              <img class="" src="{{url_for('static', filename='images/fondo2.jpg')}}" alt="" style="width: 100%;">
              <div class="list-group list-group-flush">
                <li class="list-group-item">
                  <h5 style="color: #DC5504;">Misión Maderera Nueva Era</h5>
                  <p>Somos una empresa privada que busca satisfacer la demanda integral de productos para la
                    construcción, dotados con maquinaria de última generación, con colaboradores altamente
                    identificados, garantizando la entrega oportuna y de calidad con precios muy competitivos.</p>
                </li>
                <li class="list-group-item">
                  <h5 style="color: #DC5504;">Visión Maderera Nueva Era</h5>
                  <p>Ser líderes diferenciados en la comercialización de todo tipo de productos para la industria de la
                    construcción, que brinde atención profesional y personalizada buscando la satisfacción total de
                    nuestros clientes, acorde con nuestra política de responsabilidad Social.</p>
                </li>
                <li class="list-group-item">
                  <h5 style="color: #DC5504;">Lema</h5>
                  <p>El trabajo duro hace que desaparezcan las arrugas de la mente y el espíritu.</p>
                </li>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-4 text-center">
          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v12.0" nonce="yrMxZpz3"></script>

          <div class="fb-page" data-href="https://www.facebook.com/Maderera-Nueva-Era-2444788605748079"
            data-tabs="timeline" data-width="" data-height="700" data-small-header="false"
            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/Maderera-Nueva-Era-2444788605748079"
              class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/Maderera-Nueva-Era-2444788605748079">Maderera Nueva Era</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
  <div class="float-right d-none d-sm-block">
    <b>Version</b> 2.0.1
  </div>
  <strong>&copy; 2021 <a href="https://www.madereranuevaera.com/" target="_blank">Maderera Nueva Era</a></strong>
</footer>


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
</body>
<script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/adminlte.min.js')}}"></script>
<script src="{{url_for('static', filename='js/functions_dashboard.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>

</html>
{% endblock %}