{% extends "header_admin.html" %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1><i class="fas fa-users"></i> {{ datos.1 }}</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="<?php echo base_url() ?>/dashboard">Home</a></li>
							<li class="breadcrumb-item active">Usuarios</li>
						</ol>
					</div>
				</div>
			</div><!-- /.container-fluid -->
		</section>

		<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="card">
							<div class="card-header">
								<h3 class="card-title mt-1"><strong>Eliminar a {{ datos.3 }} {{ datos.4 }}</strong></h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
									<div class="row" id="tab_elim_usuario">
										<div class="col-sm-12">
										<p>Al eliminar al usuario este no podrá usar la plataforma. Sin embargo, puede elegir entre eliminarlo de forma permanente o de forma temporal.</p>
                                        <p><strong>Eliminación permanente:</strong> Elimina todo registro asociado al usuario en cuestión.</p>
										<p><strong>Eliminación temporal:</strong> Se cambia el estado del usuario en el sistema, limitando su accionar.</p>
                                        <table id="tab_datos" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>Código</th>
                                                    <th>Nombre</th>
													<th>Apellido</th>
                                                    <th>Rol</th>
                                                    <th>Permisos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{ datos.2 }}</td>
                                                    <td>{{ datos.3 }}</td>
													<td>{{ datos.4 }}</td>
                                                    <td>{{ datos.5 }}</td>
                                                    <td id="permiso" rl="{{ datos.2 }}"></td>
                                                  </tr>
                                            </tbody>
                                        </table>
										<p>Seleccione el tipo de eliminación</p>
										<button type="button" class="btn btn-outline-danger btn-sm btn-eli-usu-tempo" rl="{{ datos.2 }}">Temporal del Sistema</button>
                                        <button type="button" class="btn btn-danger btn-sm btn-eli-usu-perma" rl="{{ datos.2 }}">Definitiva del Sistema</button>
										</div>
							</div>
						</div>
							</div>
							<!-- /.card-body -->
						</div>
			</div>
		</section>
</div>

</body>
<script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/adminlte.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='js/functions_usuario.js')}}"></script>
<script src="{{url_for('static', filename='js/sweetalert2.min.js')}}"></script>
</html>
{% endblock %}